body
{
    background-image: url(sky.jpg); background-size: 100%;
    background-repeat: no-repeat;
}



p{
    background-color: lightgreen;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    border: solid black;
    border-width: 6px;
}

form{
    background-color: lightgreen;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    
}
